body{
    margin: 0px;
}
header{
    background-color: #009cdf;
    color: white;
    padding: 10px;
}
h1, h2, h3, h4, h5, h6{
    margin: 0px;
}
nav{
    background-color: #3e4b5e;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0px;
}
li{
    margin: 10px;
}
footer{
    background-color: #3e4b5e;
    color: white;
    margin: 0px;
    padding: 10px;
}